<section class="jumbotron">
    <h1 id="home-title">Bloc Chat</h1>
    <p id="home-tagline">Chat About Anything!</p>
</section>

<div class="col-md-3 sidebar">
    <div class="header">
        <div class="new-chat-room">
            <div ng-controller="ModuleCtrl as module">
            <p class="title"><strong>Chat Rooms</strong></p>
                <button class="btn btn-primary new-chat-button" type="button" ng-click="module.open()"><strong>+ </strong>New Chat Room</button>
                <div class="rooms-list" ng-repeat="room in home.roomData.all">
                    <p>{{ room.name }}</p>
                </div>
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title">Create A New Chatroom</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        Name: <input type="text" ng-model="home.chatName">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="module.addRoom(home.chatName)">Create</button>
                        <button class="btn btn-warning" type="button" ng-click="module.close()">Cancel</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>

<div class="col-md-9 chatroom">
    <h3>Messages Area</h3>
</div>
